body{
  
    
    box-sizing: border-box;
}
.ListOfItems{
display: flex;
width: 100vw;
padding: 10px;
flex-direction: column;
}
.ListOfItems img{
    width: 350px !important;
    height: 250px !important;
    border-radius: 10px;
} 
.ListOfItems>.ant-card{
    width: 80% !important;
    height: 250px;
    border-radius: 10px;
    display: flex;
    
}
/* .ant-card-body img{
    width: 350px !important;
    height: 250px !important;
}  */
/* .ant-card-cover img{
    width: 350px !important;
    height: 250px !important;
} */
.metalist{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} 
.itenRate{
    display: flex;

}