.ListOfItems{
display: flex;
justify-content:space-around;
width: 100vw;
}
.ListOfItems img{
    width: 350px !important;
    height: 270px !important;
    border-radius: 10px;
} 
.ListOfItems>.ant-card{
    width: 350px !important;
    border-radius: 10px;
}
/* .ant-card-body img{
    width: 350px !important;
    height: 250px !important;
}  */
/* .ant-card-cover img{
    width: 350px !important;
    height: 250px !important;
} */
.metalist{
    display: flex;
    justify-content: space-between;
}